$cl-black1A: #1A1B1D;

$cl-blue21: #2140E8;
$cl-blue44: #4460F7;

$cl-gray6A: #6A6D79;
$cl-gray72: #727582;
$cl-grayB9: #B9BDCF;
$cl-grayE0: #E0E2EA;
$cl-grayF0: #F0F1F5;
$cl-grayF2: #F2F2F2;

$cl-orangeF9: #F9A52B;

$cl-white: #FFFFFF;
