.Logo {
  color: $cl-black1A;
  font: $font-regular 24px/52px $font-nunito;

  @include hover(hover) {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $cl-blue21;
    }
  }

  @include media('<=tablet') {
    font: $font-regular 24px/35px $font-nunito;
  }

  @include media('>=tablet') {
    font: $font-regular 24px/52px $font-nunito;
  }
}
