.Header {
  display: grid;
  background-color: $cl-white;

  @include media('<=tablet') {
    padding: 53px 24px 32px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @include media('>=tablet') {
    margin: 0 auto;
    max-width: 1120px;
    width: 100%;
    padding: 48px 20px;
    grid-template-columns: minmax(auto, 210px) minmax(auto, 390px) minmax(auto, 150px) minmax(auto, 370px);
    grid-template-rows: 1fr;
  }
}
