.Header {
  display: flex;

  &::before {
    @include media('>=tablet') {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100vw;
      height: 150px;
      background-color: $cl-white;
    }
  }

  @include media('<=tablet') {
    background-color: $cl-white;
  }

  @include media('<=tablet') {
    padding: 53px 24px 32px;
    flex-wrap: wrap;
  }

  @include media('>=tablet') {
    margin: 0 auto;
    max-width: 1225px;
    width: 100%;
    padding: 48px 20px;
  }

  @include media('>=tablet', '<=1280px') {
    padding: 48px 20px;
  }

  @include media('<=desktop') {
    justify-content: space-between;
  }

  @include media('>=1280px') {
    padding: 48px 0;
  }

  & > .Logo,
  & > .ProductSearch,
  & > .UIButton {
    @include media('>=tablet') {
      z-index: 2;
    }
  }

  & > .Logo {
    @include media('<=tablet') {
      order: 1;
    }

    @include media('>=desktop') {
      margin-right: 105px;
    }
  }

  & > .UIButton {
    max-width: 88px;
    width: 100%;

    @include media('<=tablet') {
      order: 2;
      margin-bottom: 30px;
    }

    @include media('>=desktop') {
      margin: auto 0 auto auto;
      height: 40px;
    }
  }

  & > .ProductSearch {
    @include media('<=tablet') {
      order: 3;
      width: 100%;
    }
  }
}
