.Header {
  display: flex;
  background-color: $cl-white;

  @include media('<=tablet') {
    padding: 53px 24px 32px;
    flex-wrap: wrap;
  }

  @include media('>=tablet') {
    margin: 0 auto;
    max-width: 1225px;
    width: 100%;
    padding: 48px 20px;
  }

  @include media('<=desktop') {
    justify-content: space-between;
  }

  & > .Logo {
    @include media('<=tablet') {
      order: 1;
    }

    @include media('>=desktop') {
      margin-right: 105px;
    }
  }

  & > .UIButton {
    @include media('<=tablet') {
      order: 2;
      margin-bottom: 30px;
    }

    @include media('>=desktop') {
      margin-left: auto;
    }
  }

  & > .ProductSearch {
    @include media('<=tablet') {
      order: 3;
      width: 100%;
    }
  }
}
