.ProductSearch {
  display: flex;

  @include media('<=550px') {
    flex-direction: column;
  }

  @include media('>=550px', '<=tablet') {
    justify-content: space-between;
  }

  @include media('>=tablet') {
    justify-content: center;
  }

  .wrapper-input {
    position: relative;

    @include media('<=550px') {
      margin-bottom: 25px;
      max-width: 350px;
      width: 100%;
    }

    @include media('>=550px') {
      margin-right: 25px;
    }

    @include media('>=desktop') {
      width: 385px;
    }

    & > .UIInput {
      width: 100%;
      padding-right: 40px;
    }

    & > .Logo {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  .filters {
    display: flex;

    .UICheckbox:first-child {
      margin-right: 30px;
    }
  }
}
