.ProductSearch {
  display: flex;

  @include media('<=550px') {
    flex-direction: column;
  }

  @include media('>=550px', '<=tablet') {
    justify-content: space-between;
  }

  @include media('>=tablet') {
    justify-content: center;
  }

  .wrapper-input {
    position: relative;

    @include media('<=550px') {
      margin-bottom: 25px;
      max-width: 350px;
      width: 100%;
    }

    @include media('>=550px') {
      margin-right: 25px;
    }

    @include media('>=desktop') {
      width: 385px;
    }

    & > .UIInput {
      width: 100%;
      padding-right: 40px;
    }

    & > .button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      padding: 10px;

      @include hover(hover) {
        &:hover {
          .wf-loop {
            color: $cl-orangeF9;
          }
        }
      }

      &.disable {
        pointer-events: none;

        .wf-loop {
          color: $cl-gray91;
        }
      }

      .wf-loop {
        color: $cl-black1A;
        font-size: 18px;

        @include hover(hover) {
          transition: color 0.3s ease-in-out;
        }
      }
    }


  }

  .filters {
    display: flex;

    .UICheckbox:first-child {
      margin-right: 30px;
    }
  }
}
