.UIStars {
  display: flex;
  margin: 0 -5px;

  [class^='wf-'] {
    margin: 0 5px;
    font-size: 13px;
  }

  .wf-star-1 {
    color: $cl-orangeF9;
  }

  .wf-star-2 {
    color: $cl-grayB9;
  }

}
