.UIModal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @include media('<=tablet') {
    margin: 25px;
  }

  @include media('>=tablet') {
    margin: auto;
  }

  .container {
    position: relative;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: $cl-white;
    overflow: hidden;
  }

  .close-modal {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 5px;
    color: $cl-black1A;

    @include hover(hover) {
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $cl-blue44;
      }
    }
  }
}