.UIModal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto;
  background-color: $cl-white;
  border-radius: 8px;

  > .close {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 5px;
    color: $cl-black1A;

    @include hover(hover) {
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $cl-blue44;
      }
    }
  }
}